<!doctype html>
<html ng-app="croissants" lang="en">

	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	
		<script src="/croissants/js/jquery.min.js"></script>
		<script src="/croissants/js/jquery-ui.min.js"></script>
		<script src="/croissants/js/select2.min.js"></script>
	    <script src="/croissants/js/angular.min.js"></script>
	    <script src="/croissants/js/angular-route.js"></script>
	    <script src="/croissants/js/angular-select2.js"></script>
	    <script src="/croissants/js/angular-jquery-ui.js"></script>
	    <script src="/croissants/js/bootstrap.min.js"></script>
		<script src="/croissants/js/croissants_utils.js"></script>
		<script src="/croissants/controllers/croissants.js"></script>
		<script src="/croissants/controllers/accueil.js"></script>
		<script src="/croissants/controllers/groupes.js"></script>
		<script src="/croissants/controllers/groupe.js"></script>
		<script src="/croissants/controllers/editerGroupe.js"></script>
		<script src="/croissants/controllers/rejoindreGroupe.js"></script>
		
		<link rel="stylesheet" type="text/css" href="/croissants/css/jquery-ui.css"></link>
		<link rel="stylesheet" type="text/css" href="/croissants/css/select2.css"></link>
		<link rel="stylesheet" type="text/css" href="/croissants/css/font-awesome.min.css"></link>
		<link rel="stylesheet" type="text/css" href="/croissants/css/bootstrap.min.css"></link>
		<link rel="stylesheet" type="text/css" href="/croissants/css/bootstrap-theme.min.css"></link>
		<link rel="stylesheet" type="text/css" href="/croissants/css/croissants.css"></link>
		
		<!-- Ressources externes -->
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		
	</head>
	
	<body ng-controller="CroissantsTemplateCtrl">
		<!-- Menu -->
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand navLink" href="/croissants/views/croissants.html#/accueilView">Cycles</a>
				
			</div>
			
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/croissants/views/croissants.html#/groupesView">Groupes</a></li>
					
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href=""><i class="fa fa-user"></i></a></li>
					<li><a href="">Deconnexion</a></li>
				</ul>
			</div>
			
		</div>
	</div>
	<!-- Bloc central -->
	<div class="container">
		<div class="row">
			<div ng-view class="col-sm-12 mainView"></div>
		</div>
	</div>

	
	</body>
</html>