<!doctype html>
<html ng-app="croissants" lang="en">

	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	
		<script src="/croissants/js/jquery.min.js"></script>
		<script src="/croissants/js/jquery-ui.min.js"></script>
		<script src="/croissants/js/select2.min.js"></script>
	    <script src="/croissants/js/angular.min.js"></script>
	    <script src="/croissants/js/angular-route.js"></script>
	    <script src="/croissants/js/angular-select2.js"></script>
	    <script src="/croissants/js/angular-jquery-ui.js"></script>
	    <script src="/croissants/js/bootstrap.min.js"></script>
		<script src="/croissants/js/croissants_utils.js"></script>
		<script src="/croissants/controllers/guest.js"></script>
		<script src="/croissants/controllers/login.js"></script>
		<script src="/croissants/controllers/inscription.js"></script>
		
		<link rel="stylesheet" type="text/css" href="/croissants/css/jquery-ui.css"></link>
		<link rel="stylesheet" type="text/css" href="/croissants/css/select2.css"></link>
		<link rel="stylesheet" type="text/css" href="/croissants/css/font-awesome.min.css"></link>
		<link rel="stylesheet" type="text/css" href="/croissants/css/bootstrap.min.css"></link>
		<link rel="stylesheet" type="text/css" href="/croissants/css/bootstrap-theme.min.css"></link>
		<link rel="stylesheet" type="text/css" href="/croissants/css/croissants.css"></link>
		
		<!-- Ressources externes -->
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		
	</head>
	
	<body ng-controller="GuestTemplateCtrl" class="body-background-logo guest-logo" >
		<div ng-view class="mainView"></div>
	
	</body>
</html>